.main{
    background-color: #F8FBF8;
    min-height: 100vh;
    margin: 0;
    padding-top: 4rem;
}
.heading1{
    font-family: 'Abril Fatface', cursive;
    color: #76A787;
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .spinnericon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
  }
  .spinner{
    height: 50px;
    width: 50px;
    font-size: 22px;
  }
  